@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <textarea id="query_input"></textarea>
    <br/>
    <button id="send_button">
        Отправить
    </button>
</div>
<div id="out">
</div>