@{
    ViewBag.Title = "Home Page";
}
<style>

	.node {
		cursor: pointer;
	}

	.node circle {
		fill: #fff;
		stroke: steelblue;
		stroke-width: 1.5px;
	}

	.node text {
		font: 10px sans-serif;
	}

	.link {
		fill: none;
		stroke: #ccc;
		stroke-width: 1.5px;
	}

</style>
<script src="//d3js.org/d3.v3.min.js"></script>
<table class="t_container">
	<tbody>
	<tr>
		<td rowspan="2" class="leftSide">
			<button id="send_button" class="btn btn-primary btn-lg" style="margin-bottom: 5px">
				Analyze
			</button>
			<br/>
			<textarea class="form-control" id="query_input" style="height: 75%; resize: none; width: 100%; max-width: unset;"></textarea>
		</td>
		<td>
			<div id="out"></div>
		</td>
	</tr>
	<tr>
	</tr>
	</tbody>
</table>