body, html {
    width: 100%;
    height: 100%;
}

.t_container {
    width: 100%;
    height: 100%;
}

.leftSide {
    height: 100%;
    width: 400px;
    padding: 5px;
    border-right: #2b669a solid 1px;
    vertical-align: top;
}

.rightSide {
    max-width: 400px;
    width: 400px;
    height: 100%;
    padding: 5px;
    border-left: #2b669a solid 1px;
    vertical-align: top;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
